* {
    margin: 0;
    padding: 0;
  }

  .header {
    height: 50px;
    width: 100%;
    background-color: lightgray;
    padding: 5px 25px;
    display: flex;
    align-items: center;
  }

  .cart-button {
      padding: 2px 12px;
  }

  .goods-list {
      padding: 15px 0;
      display: flex;
      justify-content: space-evenly;
      background-color: aliceblue;
  }

  .goods-item {
      border: 1px solid black;
      box-sizing: border-box;
      min-width: 100px;
      min-height: 35px;
      text-align: center;
  }

  .modal-cart {
      display: flex;
      flex-direction: column;
  }

  .modal-item {
      text-align: left;
  }